.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Adds spacing between input and button */
    width: 100%;
    max-width: 500px; /* Adjust width if needed */
}

.search-input {
    padding: 15px; /* Increase padding for a larger input */
    font-size: 18px; /* Increase text size */
    width: 300px; /* Set a wider input field */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-button{
    
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 18px; 
    padding: 15px 30px;

}






.content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row{
    flex: 1;
}

.image-container{
    position: relative;
}


.section-image{
    width: 450px;
    height: 197px;
    object-fit: cover;
}

.temperature{
    position: absolute;
    top:50%;
    left: 25%;
    transform: translate(-50%,-50%);
    font-size: 60px;
    font-weight: bold;
    color: whitesmoke;


}

.section-2{
    background-color: rgb(26, 23, 198);
    height: 196px;
    color: rgb(117, 87, 22);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.top-info,
.bottom-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.info-box{
    text-align: center;
}

p{
    font-size: 20px;
}