<div class="search-container">
    <input type="text" class="search-input" placeholder="Search City">
    <button class="search-button">Search</button>
</div>


<div class="content">
  <div  class="row">
    <div class="image-container">
      <img src="C:\DEVV\wek7\weather-app\src\assets\images.jpg" alt="" class="section-image">
    </div>
    <div class="temperature">
      29 C

    </div>

  </div>

  <div class="section-2">
    <div class="top-info">

      <p>Expected Temperature:Day 32 C & Night 20 C</p>
    </div>
    <div class="bottom-info" >
      <div class="info-box">
        <p>Humidity:30%</p>
      </div>
      <div class="info-box">
        <p>Wind Speed:3 KM/H</p>
      </div>
    </div>

  </div>
</div>