<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    
  
    <div>
      <label> Names:</label>
      <input type="text" formControlName="name" />
    </div>
  
    <div>
      <label>Phone:</label>
      <input type="text" formControlName="phone" />
    </div>
  
    <div>
      <label>Location:</label>
      <input type="text" formControlName="location" />
    </div>
  
    <div>
      <label>Portfolio Link:</label>
      <input type="url" formControlName="portfolioLink" />
    </div>
  
    <div formArrayName="skills">
      <div *ngFor="let skillGroup of skillsFormArray.controls; let i = index" [formGroupName]="i">
        <label>Category:</label>
        <select formControlName="category" (change)="updateSkillOptions(i)">
          <option *ngFor="let category of skillCategories" [value]="category.category_id">{{ category.category_name }}</option>
        </select>
  
        <label>Skill:</label>
        <select formControlName="skill">
          <option *ngFor="let s of filteredSkills[i]" [value]="s.skill_id">{{ s.skill_name }}</option>
        </select>
  
        <label>Skill Level:</label>
        <input type="text" formControlName="level" />
  
        <label>Years of Experience:</label>
        <input type="number" formControlName="years" />
  
        <button type="button" (click)="removeSkill(i)">Remove</button>
      </div>
    </div>
  
    <button type="button" (click)="addSkill()">Add Skill</button>
    <button type="submit">Save Profile</button>
  </form>
  